@import "tailwindcss";

@font-face {
  font-family: "smt";
  src: url("@fonts/ShareTechMono-Regular.ttf");
}

@theme {
  --font-smt: "smt", "sans-serif";
}

@theme {
  --color-mainBlack: #050505;
  --color-matrixBracket: #D9D9D9;
  --color-matrixInputBackground: #252525;
}
